:root {
  --background: #ecf2fd;
  --primary: #CADCFC;
  --secondary: #00246B;
  --text: #031d3d;
  --heading: #000211;
}

.section{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
  justify-content: space-between;
  gap: 20px;
}

.about {
  position: relative;
  width: fit-content;
  margin: auto;
}

.about-image {
  width: 250px;
  border-radius: 20px;
}

.about-heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.8);
}

.reverse{
  flex-direction: row-reverse;
}

.rounded-box {
  flex: 1;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  max-width: fit-content;
  /* margin-bottom: 10px; */
}

.body-box{
  background-color: var(--primary);
}

.heading-box{
  background-color: var(--secondary);
  text-align: center;
}

.header {
  padding: 10px;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  box-sizing: border-box;

  color: var(heading-text-color);
  background-color: var(--secondary);
}


.heading {
  padding-left: 15px;
  padding-right: 15px;
  color: var(--background);
}


.footer {
  background-color: var(--secondary);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  background-color: var(--background);
  position: absolute;
  top:0;
  left:0;
  padding-bottom: 30px;
  width: 100%;
  box-sizing:border-box;
}

.menu {
  font-size: 14px;
  color: var(--background);
}

.menu-container {
  display: flex;
  gap: 10px;
}

.body {
  color: var(--text);
  margin: 10px;
  max-width: 100%;
  box-sizing: border-box;
}


.filler {
  height: 30px;
}

.name {
  color: var(--background);
}


.image{
  /* margin-top: 30px; */
  max-width: 300px;
  max-height: 200px;
  /* width: 100px;  */
  /* height: 100px;  */
  border-radius: 10px;
  object-fit: cover;
}