:root {
  --primary: #CADCFC;
  --secondary: #00246B;
  --text: #031d3d;
  --heading: #000211;
  --header-text-color: #dddef7;
}



.header {
  background-color: var(--secondary);
  padding: 10px;
  position: absolute;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  box-sizing: border-box;
}


.heading {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--secondary);
  color: var(--heading);
}


.footer {
  background-color: var(--secondary);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  background-color: var(--primary);
  position: absolute;
  top:0;
  left:0;
  padding-bottom: 30px;
  width: 100%;
  box-sizing:border-box;
}

.menu {
  font-size: 14px;
  color: var(--header-text-color);
}

.menu-container {
  display: flex;
  gap: 10px;
}

.body {
  color: var(--text);
  margin: 10px;
  max-width: 100%;
  box-sizing: border-box;
}


.filler {
  height: 30px;
}

.name {
  color: var(--header-text-color);
}


.image{
  margin-top: 30px;
  max-width: 50%;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover;
}